<div class="container">
    <br>
    <div class="headerContent">
        <h1 class="title">CSS Trix Scanner</h1>
    </div>
    <button class="updateButton">Update</button>
    <div class="card">
        <table class="thetable">
            <thead class="tableHeader">
                <tr>
                    <th class="articleTitle">Title</th>
                    <th class="articlecSummary">Summary</th>
                    <th class="commentArticle">Article & Comments</th>
                </tr>
            </thead>
            <tbody>
                {{#each articles}}
                <tr class="theArticle">
                    <th class="articleTitle">{{title}}</th>
                    <td class="articleSummary">{{summary}}</td>
                    <td class="text-center">
                        <a class="buttonLink" href="{{articleURL}}" target="_blank">READ</a>
                        <a class=" articleComments buttonLink" data-id="{{_id}}">COMMENT</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <br>
</div>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
    <div role="document">
        <div class="modalContent">
            <div class="modalHeader" style="border-bottom: none;">
                <h3 id="commentHeader"></h3>
            </div>
            <div class="modalBody">
                <table class="table w-100">
                    <thead class="commentBorder">
                        <th scope="col" class="nameComment" style="width:15%">Name</th>
                        <th scope="col" class="titleComment" style="width:70%">Comment</th>
                        <th scope="col" class="deleteComment" style="width:15%">Delete?</th>
                    </thead>
                    <tbody id="commentsModalBody">
                    </tbody>
                </table>
                <hr>
                <form>
                    <div class="form-group">
                        <label class="nameComment" for="commentName">Name:</label>
                        <input type="text" class="form-control" id="nameField" aria-describedby="commentName"
                            placeholder="Anonymous">
                    </div>
                    <div class="form-group">
                        <label class="titleComment" for="commentBody">Comment:</label>
                        <input type="text" class="form-control " id="bodyField" aria-describedby="commentBody"
                            placeholder="Enter your comment here!">
                    </div>
                    <button type="submit" class="btn btn-primary float-right commentSubmit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>